body {
    background-color: #3D3F46;
    color: #DDDDDD;            
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              
    padding: 0;            
}

header {
    height: 20px;
    background-color: #CCCCCC;
    border-bottom: 1px solid #666666;
    color: #222222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;

    text-shadow: 0px 1px 1px #FFFFFF;       
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));      
    background-image: -moz-linear-gradient(top,#ccc,#999);  
}

form input {
    color: #999999;
}

#content {
    height: 85%;
    width: 100%;
}

#statusBar {
    width: 100%;
    background-color: #DDDDDD;
    color: #666666;
    border-bottom: 1px solid #666666;
    font-size: 13px;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
}


/************ button ************/

.roundButton {
    background-color: #EEEEEE;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #888888;
    border-radius: 14px;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 6px;
}

.squareButton {
    background-color: #EEEEEE;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}


/************ map infobox ************/

.Destination {
    color: #4F0980;
    text-decoration: underline;
    cursor: pointer;
}

.Origin {
    color: #6c7f1d;
    text-decoration: underline;
    cursor: pointer;
}


/************ recordingBar ************/

#recordingBar {
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 999;
}

.bar {
    height: 22px;
    background-color: #3D3F46;
    color: #DDDDDD;
    font-size: 15px;
    border-radius: 9px;
    padding: 4px 14px 4px 14px;
    margin: 3px 0 3px 0;
    opacity: 0.8;
}

.trackingResults {
    font-size: 18px;
    color: #FFAE00;
}
