body {
    background-color: #3D3F46;
    color: #DDDDDD;           
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;             
    padding: 0;             
}

header h1 {
    background-color: #CCCCCC;
    border-bottom: 1px solid #666666;
    color: #222222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;

    text-shadow: 0px 1px 1px #FFFFFF;		
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));        
    background-image: -moz-linear-gradient(top,#ccc,#999);	
}

header ul {
  list-style: none;
  margin: 18px 30px 8px 30px;
  padding: 0;
}

header ul li a {
  background-color: #DDDDDD;
  border: 1px solid #999999;
  color: #222222;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 8px 10px;
  text-decoration: none;
}

nav li a{
    text-align: center;
}

#content{
  margin: 0 18px 0 18px;
  padding: 10px;
  text-align: center;
}


/************ Round corners ************/

header ul li:first-child a {		
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

header ul li:last-child a {			
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

