body {
    background-color: #3D3F46;
    color: #DDDDDD;            
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              
    padding: 0;            
}

header {
    height: 20px;
    background-color: #CCCCCC;
    border-bottom: 1px solid #666666;
    color: #222222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;

    text-shadow: 0px 1px 1px #FFFFFF;       
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));    
    background-image: -moz-linear-gradient(top,#ccc,#999);
}

header #temp {
    visibility: hidden;
}

form input {
    color: #555555;
}

#content {
    height: 85%;
    width: 100%;
}

h3 {
    display: inline; 
}

h4 {
    line-height: 10px;
    margin: 30px 0 15px 0;
}

input {
    text-align: center;
}

.section {
    background-color: #282828;
    margin: 10px;
    padding: 10px 10px 20px 10px; 
    border-radius: 8px;
}

.section_header *{
    vertical-align: middle;
    padding: 0 0 8px 8px;
}

.section_body {
    border-top: 1px solid #888888;
    padding: 0 0 0 5px;
}

.alignment {
    text-align: center;
}

#question {
    margin: 15px 0 15px 0; 
    text-align: center;
}

#statusBar {
    position: absolute;
    top: 40px;
    left: 30%;
    width: 40%;
    background-color: #DDDDDD;
    color: #666666;
    border-bottom: 1px solid #666666;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#space {
    height: 10px;
}


/************ button ************/

.squareButton {
    background-color: #EEEEEE;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}
